---
import Layout from "../layouts/Layout.astro";
import FreshIcon from "../components/FreshIcon.astro";

const frashIconWhidth = "calc(30% + 10rem)";
---

<Layout title="Fresh | Home">
  <main>
    <section class="flex container">
      <FreshIcon class="icon" wh={frashIconWhidth} />
      <div class="titles">
        <h1>FRESH</h1>
        <p>My personal astro components</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  main,
  .container,
  .icon,
  .titles,
  .titles h1,
  .titles p {
    width: 100%;
  }
  .title,
  p {
    text-align: center;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 5dvh;
  }
  .titles {
    transform: translateY(-5dvh);
  }
  .titles h1,
  .titles p {
    text-align: center;
  }
  .titles h1 {
    font-size: calc(4rem + 3vw);
    font-family: var(--ffB);
  }
  .titles p {
    font-size: calc(1.2rem + 1vw);
  }
</style>
