---
import Layout from "../layouts/Layout.astro";
import FreshIcon from "../components/FreshIcon.astro";
import PrimaryButton from "../components/buttons/PrimaryButton.astro";

const frashIconWhidth = "calc(40% + 1rem)";
---

<Layout title="Fresh | Home">
  <main>
    <section class="flex presentation">
      <FreshIcon class="icon" wh={frashIconWhidth} />
      <div class="titles">
        <h1>FRESH</h1>
        <p>My personal astro components</p>
      </div>
    </section>
    <section class="flex buttons">
      <h1 class="header-section">Buttons</h1>
      <div class="flex list">
        <PrimaryButton />
        <PrimaryButton text="Btn" bstyle="square" fstyle="border" />
        <PrimaryButton text="Send Message" bstyle="circle" fstyle="border" />
        <PrimaryButton text="Btn" bstyle="rounded" />
        <PrimaryButton text="Primary Button" bstyle="square" fstyle="fill" />
        <PrimaryButton text="Send value" bstyle="rounded" fstyle="border" />
      </div>
    </section>
    <selection class="flex headers">
      <h1 class="header-section">Headers</h1>
      <div class="flex list">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
    </selection>
  </main>
</Layout>

<style>
  main,
  .icon,
  .titles,
  .titles h1,
  .titles p {
    width: 100%;
  }
  .title,
  p {
    text-align: center;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header-section {
    font-size: calc(2rem + 1vw);
    text-align: left;
  }
  .presentation {
    margin: calc(3rem + 10dvh) 0 calc(1rem + 1dvh) 0;
    max-width: 1000px;
  }
  .titles {
    transform: translateY(calc(-5rem + 3dvh));
  }
  .titles h1,
  .titles p {
    text-align: center;
  }
  .titles h1 {
    font-size: calc(4rem + 3vw);
    font-family: var(--ffB);
  }
  .titles p {
    font-size: calc(1.2rem + 1vw);
  }
  .buttons,
  .headers {
    margin: calc(1rem + 3dvh) 0;
    width: 80%;
  }

  .buttons .list {
    margin: 2rem 0;
    justify-content: start;
    gap: calc(1rem + 1vw);
  }
</style>
