---
const {
  title = "Card",
  description = "This is a Card",
  animation = "zoom-in",
  fill = true,
  size = "large",
} = Astro.props;

const ani = animation;
const fi = fill ? "fill" : "stroke";
const si = size;
---

<div class="flex container gradient-bg" class:list={[ani, si]}>
  <div class="flex container-inside" class:list={[fi]}>
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</div>

<style>
  .container {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
    padding: calc(0.1rem + 0.2dvh) calc(0.1rem + 0.2dvh);
    border-radius: 20px;
  }
  .container-inside {
    align-items: start;
    align-content: start;
    padding: calc(1rem + 1dvh) calc(2rem + 1dvh);
    border-radius: 17px;
  }
  h1,
  p {
    color: var(--bg);
  }
  h1 {
    font-size: calc(2rem + 1dvw);
  }
  p {
    font-size: calc(1rem + 1dvw);
  }
  .zoom-in,
  .zoom-off {
    transform: all 0.2s ease;
  }
  .zoom-in:hover {
    transform: scale(1.02);
  }
  .zoom-off:hover {
    transform: scale(0.98);
  }
  .stroke {
    background-color: var(--bg);
  }
  .stroke h1,
  .stroke p {
    color: var(--fr);
  }
  .mediun {
    flex-basis: 700px;
  }
  .small {
    flex-basis: 300px;
  }
</style>
