---
const {
  cl1 = "#59ffff",
  cl2 = "#7dff91",
  str = "1rem",
  wh = "100%",
} = Astro.props;
const stroke = "stroke-width: " + str + ";";
const width = "width: " + wh + ";";
const styleDiv = width;
const styleSvg = stroke;
---

<div style={styleDiv}>
  <svg
    style={styleSvg}
    id="FreshIcon"
    data-name="Fresh icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 500 500"
    ><defs
      ><linearGradient
        id="gradient"
        x1="111.59"
        y1="250"
        x2="388.41"
        y2="250"
        gradientUnits="userSpaceOnUse"
        ><stop offset="0" stop-color={cl1}></stop><stop
          offset="1"
          stop-color={cl2}></stop></linearGradient
      ></defs
    ><path
      id="lemon"
      class="cls-1"
      d="M308.06,193c56.8,56.8,85.43,120.27,63.94,141.76s-84.95-7.14-141.76-63.94S144.81,150.5,166.3,129,251.26,136.15,308.06,193Zm60.15,138M166.3,129c-47.08,47.08-58.48,115.31-30,170.3a14.86,14.86,0,0,1-2.47,17.18,35.83,35.83,0,0,0,51.06,50.29l.08-.09a15.36,15.36,0,0,1,17.57-3.33A148.31,148.31,0,0,0,372,334.71M269.15,304.6V159.12m72.74,72.74H196.41m-20.17-98.2,192,192"
    ></path></svg
  >
</div>

<style>
  svg {
    width: 100%;
  }
  .cls-1 {
    fill: none;
    stroke-miterlimit: 10;
    stroke: url(#gradient);
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
