---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/lemon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* Ligth mode */
    --fr: #13151a;
    --fr2: #24272e;
    --bg: #e9e9e9;
    --bg2: #d4d4d4;
    --accent: #00c7c7;
    --accent2: #00fb26;
    --accent3: #ffea00;
    /* Dark mode */
    /* --fr: #e9e9e9;
    --fr2: #d4d4d4;
    --bg: #13151a;
    --bg2: #24272e;
    --accent: #59ffff;
    --accent2: #7dff91;
    --accent3: #d0ff00; */
    --ff: "InterL", sans-serif;
    --ffT: "InterT", sans-serif;
    --ffB: "InterB", sans-serif;
  }
  @font-face {
    font-family: "InterB";
    src:
      url("/public/fonts/Inter-Bold.woff") format(woff),
      url("/public/fonts/Inter-Bold.ttf") format(truetype);
    font-display: swap;
    font-weight: 900;
  }
  @font-face {
    font-family: "InterL";
    src:
      url("/public/fonts/Inter-Light.woff") format(woff),
      url("/public/fonts/Inter-Light.ttf") format(truetype);
    font-display: swap;
    font-weight: 300;
  }
  @font-face {
    font-family: "InterT";
    src:
      url("/public/fonts/Inter-Thin.woff") format(woff),
      url("/public/fonts//Inter-Thin.ttf") format(truetype);
    font-display: swap;
    font-weight: 100;
  }
  * {
    margin: 0;
    paddind: 0;
    box-sizing: border-box;
    font-family: "InterL", sans-serif;
    color: var(--fr);
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--bg);
    background-size: 224px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    width: 100%;
  }
  h1,
  h2 {
    font-family: var(--ffB);
  }
  h3,
  h4,
  p {
    font-family: var(--ff);
  }
  h5,
  h6 {
    font-family: var(--ffT);
  }
  h1 {
    font-size: calc(4.5rem + 1dvw);
  }
  h2 {
    font-size: calc(4rem + 1dvw);
  }
  h3 {
    font-size: calc(3.7rem + 1dvw);
  }
  h4 {
    font-size: calc(3.5rem + 1dvw);
  }
  h5 {
    font-size: calc(3.3rem + 1dvw);
  }
  h6 {
    font-size: calc(3rem + 1dvw);
  }
  p {
    margin-left: 0.3rem;
    font-size: calc(1.5rem + 1dvw);
    font-weight: 900;
  }
  .flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .gradient-bg {
    background-image: linear-gradient(
      45deg,
      var(--accent) 0%,
      var(--accent2) 50%,
      var(--accent3) 100%
    );
    background-size: 200% auto;
    transition: all 0.5s ease;
  }
  .gradient-bg:hover,
  .gradient-bg:focus {
    background-position: right center;
  }
</style>
